* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #0b1020;
  font-family: "Comfortaa";
}

@font-face {
  font-family: "M Rounded";
  src: url(../assets/fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Regular.ttf);
}
@font-face {
  font-family: "Comfortaa";
  src: url(../assets/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}
#app {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#app .homeIntro {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#app .homeIntro header {
  color: #ffffff;
  font-family: "Comfortaa";
}
#app .homeIntro header h1 {
  font-size: 50px;
  margin-bottom: 35px;
}
#app .homeIntro header p {
  font-size: 20px;
  width: 600px;
  line-height: 30px;
}

.hGlow {
  color: #279beb;
  text-shadow: 0 0 10px #68a7fe;
  margin-bottom: 40px;
  margin-top: 20px;
  align-self: flex-start;
}

hr {
  border: none;
  width: 441px;
  border-top: 2px solid #68a7fe;
  margin-bottom: 51px;
}

@keyframes glow-pulse {
  from {
    text-shadow: 0 0 5px #68a7fe; /* Initial subtle glow */
  }
  to {
    text-shadow: 0 0 20px #68a7fe, 0 0 30px #68a7fe, 0 0 40px #68a7fe; /* More intense glow */
  }
}
.topBar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 2px solid white;
  font-size: 35px;
}
.topBar nav .navLinks {
  list-style: none;
  display: flex;
  gap: 20px;
}
.topBar nav .navLinks li a {
  text-decoration: none;
  color: #ffffff;
  font-family: "M Rounded";
}
.topBar nav .navLinks li .active {
  color: #279beb;
  font-weight: bold;
  animation: glow-pulse 2s infinite alternate;
}

#projectsContainer {
  max-width: 1067px;
  width: 100%;
  font-family: "Comfortaa";
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}
#projectsContainer .project {
  max-width: 1067px;
  width: 100%;
  height: 346px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 55px;
  padding: 22px;
  border-radius: 18px;
  background-color: #b59a90;
  color: #aeaeae;
  line-height: 25px;
}
#projectsContainer .project h2 {
  margin-bottom: 15px;
}
#projectsContainer .project .projectImage {
  width: 440px;
  height: 297px;
  border-radius: 18px;
}
#projectsContainer .project .projectImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  filter: brightness(70%);
}
#projectsContainer .project .left {
  margin-right: 20px;
}
#projectsContainer .project .right {
  margin-left: 20px;
}
#projectsContainer .project .content {
  width: 550px;
  height: 297px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
}
#projectsContainer .project .content h2,
#projectsContainer .project .content .projectDescription {
  transition: color 0.3s ease;
}
#projectsContainer .project .content .skillLabels {
  display: flex;
  gap: 5px;
  margin-top: 20px;
  color: #8d8d8d;
}
#projectsContainer .project .content .skillLabels .skill {
  display: flex;
  justify-content: center;
  font-size: px;
  height: 40px;
  align-items: center;
  padding: 5px 10px;
  margin: 0px 4px;
  background-color: #aeaeae;
  transition: background-color 0.3s ease;
  border-radius: 26px;
}
#projectsContainer .project:hover {
  background-color: #d27d5c;
}
#projectsContainer .project:hover img {
  filter: brightness(100%);
  transition: filter 0.3s ease;
}
#projectsContainer .project:hover .skill {
  background-color: #ffffff !important;
}
#projectsContainer .project:hover .projectDescription,
#projectsContainer .project:hover h2 {
  color: #ffffff;
  transition: color 0.3s ease;
}

@media screen and (max-width: 765px) {
  .project {
    width: 95%;
  }
}
#aboutContainer {
  max-width: 1067px;
  width: 100%;
  font-family: "Comfortaa";
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}
#aboutContainer .aboutContent {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  width: 90%;
  padding: 22px;
  border-radius: 18px;
  border: 4px solid white;
  background-color: #d27d5c;
  color: #ffffff;
  line-height: 25px;
}
#aboutContainer .aboutContent .text {
  width: 50%;
}
#aboutContainer .aboutContent .text h2 {
  margin-top: 10px;
  margin-bottom: 15px;
}
#aboutContainer .aboutContent .text p {
  margin-bottom: 15px;
  font-size: 18px;
}
#aboutContainer .aboutContent .imageContainer {
  width: 300px;
  height: 400px;
  margin-top: 10px;
  margin-right: 30px;
  border-radius: 18px;
  border: 4px solid white;
  background-image: url(../assets/images/pic.jpg);
  background-size: cover;
  background-position: center;
}
