* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

#app {
  background-color: #0e0c4e;
  height: 100%;
  color: white;
}

.topBar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 2px solid white;
  font-size: 35px;
}
.topBar nav .navLinks {
  list-style: none;
  display: flex;
  gap: 20px;
}
.topBar nav .navLinks li a {
  text-decoration: none;
  color: #ffffff;
}
.topBar nav .navLinks li a:hover {
  color: #f24ba7;
}
