@use "variables" as *;
#aboutContainer {
  max-width: 1067px;
  width: 100%;
  font-family: "Comfortaa";
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;

  .aboutContent {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;

    width: 90%;
    padding: 22px;
    border-radius: $border-radius;
    border: 4px solid white;
    background-color: $primary-on;
    color: $text-color;
    line-height: 25px;

    .text {
      width: 50%;
      h2 {
        margin-top: 10px;
        margin-bottom: 15px;
      }
      p {
        margin-bottom: 15px;
        font-size: 18px;
      }
    }

    .imageContainer {
      width: 300px;
      height: 400px;
      margin-top: 10px;
      margin-right: 30px;
      //   background-color: black;
      border-radius: $border-radius;
      border: 4px solid white;
      background-image: url(../assets/images/pic.jpg);
      background-size: cover;
      background-position: center;
    }
  }
}
