@use "variables" as *;

@keyframes glow-pulse {
  from {
    text-shadow: 0 0 5px $secondary-glow; /* Initial subtle glow */
  }
  to {
    text-shadow: 0 0 20px $secondary-glow, 0 0 30px $secondary-glow,
      0 0 40px $secondary-glow; /* More intense glow */
  }
}

@mixin glowing-text {
  color: $secondary;
  font-weight: bold;
  animation: glow-pulse 2s infinite alternate;
}
