@use "variables" as *;

@keyframes glow-pulse {
  from {
    text-shadow: 0 0 5px $cyan-glow; /* Initial subtle glow */
  }
  to {
    text-shadow: 0 0 20px $cyan-glow, 0 0 30px $cyan-glow, 0 0 40px $cyan-glow; /* More intense glow */
  }
}

@mixin glowing-text {
  color: $cyan;
  font-weight: bold;
  animation: glow-pulse 2s infinite alternate;
}
