@use "variables" as *;

#projectsContainer {
  max-width: 1067px;
  width: 100%;
  // font-family: "Comfortaa";
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;

  .project {
    max-width: 1067px;
    width: 100%;
    height: 346px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 55px;
    padding: 22px;
    border-radius: $border-radius;
    background-color: $primary-off;
    color: $alt-text-color;
    line-height: 25px;

    h2 {
      margin-bottom: 15px;
    }

    .projectImage {
      width: 445px;
      // height: 297px;
      border-radius: 18px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
        filter: brightness(70%);
      }
    }

    .left {
      margin-right: 20px;
    }
    .right {
      margin-left: 20px;
    }

    .content {
      width: 550px;
      height: 297px;
      border-radius: $border-radius;
      display: flex;
      flex-direction: column;

      h2,
      .projectDescription {
        transition: color 0.3s ease;
      }

      .skillLabels {
        display: flex;
        gap: 5px;
        margin-top: 20px;
        color: $dark-text-color;

        .skill {
          display: flex;
          justify-content: center;
          font-size: px;
          height: 40px;
          align-items: center;
          padding: 5px 10px;
          margin: 0px 4px;
          background-color: $alt-text-color;
          transition: background-color 0.3s ease;
          border-radius: 26px;
        }
      }
    }

    &:hover {
      background-color: $primary-on;
      img {
        filter: brightness(100%);
        transition: filter 0.3s ease;
      }

      .skill {
        background-color: $button !important;
      }

      .projectDescription,
      h2 {
        color: $text-color;
        transition: color 0.3s ease;
      }
    }
  }
}

@media screen and (max-width: 765px) {
  .project {
    width: 95%;
  }
}
