@use "variables" as *;

.projectsContainer {
  font-family: "Comfortaa";
  font-size: 18px;

  h1 {
    color: $text-color;
  }

  #project {
    color: $alt-text-color;
    width: 1067px;
    height: 346px;
    border-radius: $border-radius;
    padding: 22px;
    margin-bottom: 55px;

    line-height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    .projectImage {
      width: 440px;
      height: 297px;
      background-color: black;
      border-radius: $border-radius;
    }

    .left {
      margin-right: 20px;
    }
    .right {
      margin-left: 20px;
    }

    .content {
      width: 550px;
      height: 297px;
      border-radius: $border-radius;
      display: flex;
      flex-direction: column;

      .skillLabels {
        display: flex;
        gap: 10px;
        // margin-top: 20px;

        .skill {
          display: flex;
          justify-content: center;
          font-size: 15px;
          height: 25px;
          // align-items: center;
          // width: 100px;
          padding: 5px;
          background-color: rgb(0, 0, 0);
          border-radius: 50px;
          // color: rgb(94, 94, 94);
        }
      }
    }

    &:hover {
      color: $text-color;
    }
  }

  // Color var one
  .projVarOne {
    background-color: $pink-off;

    &:hover {
      background-color: $pink-on;
      box-shadow: 0px 0px 15.5px 15px $neon-pink;
      border: 5px solid $pink-light;
    }
  }

  // color var two
  .projVarTwo {
    background-color: $purple-off;

    &:hover {
      background-color: $purple-on;
      box-shadow: 0px 0px 15.5px 15px $neon-purple;
      border: 5px solid $purple-light;
    }
  }

  // color var three
  .projVarThree {
    background-color: $green-off;

    &:hover {
      background-color: $green-on;
      box-shadow: 0px 0px 15.5px 15px $neon-green;
      border: 5px solid #b2f2e2;
    }
  }

  // color var four
  .projVarFour {
    background-color: $yellow-off;
  }

  .projVarFour:hover {
    background-color: $yellow-on;
    box-shadow: 0px 0px 15.5px 15px $neon-yellow;
    border: 5px solid #fef2b6;
  }
}
