@use "variables" as *;

.projectsContainer {
  max-width: 1067px;
  width: 100%;
  font-family: "Comfortaa";
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;

  h1 {
    color: $cyan;
    text-shadow: 0 0 10px $cyan-glow;
    margin-bottom: 40px;
    align-self: flex-start;
  }

  #project {
    max-width: 1067px;
    width: 100%;
    height: 346px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 55px;
    padding: 22px;
    border-radius: $border-radius;
    background-color: $orange-off;
    color: $alt-text-color;
    line-height: 25px;

    &:hover {
      background-color: $orange-on;
      // box-shadow: 0px 0px 15.5px 15px $neon-pink;
      // border: 5px solid $pink-light;
    }

    .projectImage {
      width: 440px;
      height: 297px;
      background-color: black;
      border-radius: $border-radius;
    }

    .left {
      margin-right: 20px;
    }
    .right {
      margin-left: 20px;
    }

    .content {
      width: 550px;
      height: 297px;
      border-radius: $border-radius;
      display: flex;
      flex-direction: column;

      h2,
      .projectDescription {
        transition: color 0.3s ease;
      }

      .skillLabels {
        display: flex;
        gap: 5px;
        margin-top: 20px;
        color: $dark-text-color;

        .skill {
          display: flex;
          justify-content: center;
          font-size: 15px;
          height: 25px;
          align-items: center;
          padding: 5px;
          background-color: $alt-text-color;
          transition: background-color 0.3s ease;
          border-radius: 50px;
        }
      }
    }

    &:hover {
      .skill {
        background-color: $white-button !important;
      }

      .projectDescription,
      h2 {
        color: $text-color;
        transition: color 0.3s ease;
      }
    }
  }
}

@media screen and (max-width: 765px) {
  .project {
    width: 95%;
  }
}
