@use "variables" as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: $background-color;
}

@font-face {
  font-family: "M Rounded";
  src: url(../assets/fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Regular.ttf);
}

@font-face {
  font-family: "Comfortaa";
  src: url(../assets/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}

#app {
  // background-color: $background-color-light;
  //   temp color
  // color: white;
  //   temp font
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .homeIntro {
    width: 100%;
    height: 485px;
    display: flex;
    justify-content: center;
    align-items: center;

    header {
      color: $text-color;
      font-family: "Comfortaa";

      h1 {
        font-size: 50px;
        margin-bottom: 10px;
      }

      p {
        font-size: 20px;
        width: 600px;
        line-height: 30px;
      }
    }
  }
}
