@use "variables" as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: $background-color;
  font-family: "Comfortaa";
}

@font-face {
  font-family: "M Rounded";
  src: url(../assets/fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Regular.ttf);
}

@font-face {
  font-family: "Comfortaa";
  src: url(../assets/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}

#app {
  // background-color: $background-color-light;
  //   temp color
  // color: white;
  //   temp font
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .homeIntro {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    header {
      color: $text-color;
      font-family: "Comfortaa";

      h1 {
        font-size: 50px;
        margin-bottom: 35px;
      }

      p {
        font-size: 20px;
        width: 600px;
        line-height: 30px;
      }
    }
  }
}

// H1 Glow Style ** Give h1 elements the glow effect and color by adding this class
.hGlow {
  color: $secondary;
  text-shadow: 0 0 10px $secondary-glow;
  margin-bottom: 40px;
  margin-top: 20px;
  align-self: flex-start;
}

hr {
  border: none;
  width: 441px;
  box-shadow: 0 0 10px $secondary-glow;
  border-top: 2px solid $secondary-glow;
  border-radius: 2px;
  margin-bottom: 51px;
}
