// Color Variables

$background-color: #0b1020;
$orange-off: #b59a90;
$orange-on: #d27d5c;
$cyan: #279beb;
$cyan-glow: #68a7fe;
$white-button: #ffffff;

// // text color
$text-color: #ffffff;

$alt-text-color: #aeaeae;

$dark-text-color: #8d8d8d;

$border-radius: 18px;

// // Add Fonts
// // M PLUS Rounded 1c
// // comfortaa
