// Color Variables
$background-color: #0e0c4e;

$neon-pink: #f24ba7;

$neon-purple: #ba38f2;

$neon-green: #14d9b5;

$neon-yellow: #f2dc6b;

$text-color: #ffffff;

$alt-text-color: #000000;

// Add Fonts
// M PLUS Rounded 1c
// comfortaa
