// Color Variables

$background-color: #0b1020;
$primary-off: #b59a90;
$primary-on: #d27d5c;
$secondary: #279beb;
$secondary-glow: #68a7fe;
$button: #ffffff;

// // text color
$text-color: #ffffff;

$alt-text-color: #aeaeae;

$dark-text-color: #8d8d8d;

$border-radius: 18px;

// // Add Fonts
// // M PLUS Rounded 1c
// // comfortaa
